.resultsDiv {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    width: 20vw;
    margin-top: 5%;
}

p {
    margin: 30px;
    padding: 0;
}

@media only screen and (max-width: 600px)  {
   .resultsDiv {
       font-size: 5.5vw;
   }
    
  }

